<div class="titulo">MIS REPORTES</div>
<div class="fila">
  <div class="MENU-LATERAL">

    <div
      (click)="cambiarvista('productos')"
      class="opciones"
      [ngClass]="{ active: vista === 'productos' }"
    >
      Compra de productos
    </div>
    <div
      (click)="cambiarvista('ventasRealizadas')"
      class="opciones"
      [ngClass]="{ active: vista === 'ventasRealizadas' }"
    >
      venta de productos
    </div>
  </div>
  <div class="vista">
    @if (vista==='ventasRealizadas') {
    <div class="madera ventas">
      <div class="botoncaja">
        <button (click)="cambiarMostrarG()" class="btn btn-primary btn-ganancia">
          ver reportes filtrados
        </button>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Cantidad</th>
            <th>Proveedor</th>
            <th>Ganancia</th>
            <th>Precio Total de la venta</th>
            <th>Precio Unitario</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          @for (pro of RegistroVenta; track $index) {
          <tr>
            <td>{{ pro.nombre }}</td>
            <td>{{ pro.costo }} C$</td>
            <td>{{ pro.cantidad }}</td>
            <td>{{ pro.proveedor }}</td>
            <td>{{ pro.ganancia }}C$</td>
            <td>{{ pro.precio_total }}C$</td>
            <td>{{ pro.precio_unidad }} C$</td>
            <td>{{ pro.fecha }}</td>
          </tr>
          }
        </tbody>
        
      </table>
      <h1 class="titulo-ganancia">
          <i class="fas fa-chart-line"></i>
          <strong>Ganancia Total: {{ gananciaTotal }} C$</strong>
      </h1>

    </div>
    <!-- seccion para mostrar las ganacias pro fecha por mes o por productos________________ -->
    @if(mostrarGanancias){
    <div class="todo">
      <div class="contenedor-ganancias">
        <h2 class="titulo">Resumen de Ganancias</h2>
        <div class="filtros">
          <div class="filtro">
            <label for="mes">Selecciona un mes del año corriente</label>
            <select (change)="verGananciaDeMes()" id="mes" [(ngModel)]="mesSeleccionado">
              <option value="01">Enero</option>
              <option value="02">Febrero</option>
              <option value="03">Marzo</option>
              <option value="04">Abril</option>
              <option value="05">Mayo</option>
              <option value="06">Junio</option>
              <option value="07">Julio</option>
              <option value="08">Agosto</option>
              <option value="09">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select>
          </div>

          <div class="filtro">
            <label for="vista">seleccione la fecha del dia  que quire ver cuanto gano comprando</label>
            <input [(ngModel)]="diaG" (change)="verGananciasPorDia()" class="form-control" type="date"  />
          </div>
        </div>

        <div class="resumen">
          <div class="tarjeta ganancia">
            <span class="fecha">En este mes obtuviste una ganancia de</span>
            <span class="monto">{{gananciaMes}}C$</span>
          </div>
          <div class="tarjeta ganancia">
            <span class="fecha">Este dia Registraste ventas con una ganancia De</span>
            <span class="monto">{{gananaciaPorDia+' '}} C$</span>
          </div>
        </div>

_________________________________________________________________________
        <div class="madera ventas">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Cantidad</th>
            <th>Proveedor</th>
            <th>Ganancia</th>
            <th>Precio Total de la venta</th>
            <th>Precio Unitario</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          @for (pro of RegistroVentaff; track $index) {
          <tr>
            <td>{{ pro.nombre }}</td>
            <td>{{ pro.costo }} C$</td>
            <td>{{ pro.cantidad }}</td>
            <td>{{ pro.proveedor }}</td>
            <td>{{ pro.ganancia }}C$</td>
            <td>{{ pro.precio_total }}C$</td>
            <td>{{ pro.precio_unidad }} C$</td>
            <td>{{ pro.fecha }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <!-- ______________________________________________________________ -->

        <br /><br />
        <button (click)="cambiarMostrarG()" class="btn btn-danger">cerrar</button>
      </div>
    </div>
    }
    <!-- fin de mostrar ganancias _______________________________________ -->

    }
    @else {
    <div class="madera pro">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>nombre</th>
            <th>Cantidad</th>
            <th>Proveedor</th>
            <th>costo</th>
            <th>precio de venta</th>
            <th>inversion</th>
            <th>ganacia total</th>
            <th>ganacia por unidad</th>
          </tr>
        </thead>
        <tbody>
          @for (pro of misproductosv; track $index) {
          <tr>
            <td>{{ pro.nombre }}</td>
            <td>{{ pro.cantidadInicial }}</td>
            <td>{{ pro.proveedor }}</td>
            <td>{{ pro.costo }} C$</td>
            <td>{{ pro.precio_venta }} C$</td>
            <td>{{ pro.costo * pro.cantidadInicial }} C$</td>
            <td>
              {{ pro.precio_venta * pro.cantidadInicial - pro.costo * pro.cantidadInicial }} C$
            </td>
            <td>{{ pro.precio_venta - pro.costo }} C$</td>
          </tr>
          }
        </tbody>
      </table>
      <h1 class="titulo-salida">
          <i class="fas fa-chart-line"></i>
          <strong>salidas: {{ totalSalidas }} C$</strong>
      </h1>
    </div>
    }
  </div>
</div>
@if(cargando===true){
<app-componente-carga></app-componente-carga>
}
