
.buscarusu{
    width: 700px;
    margin: auto;
    display: flex;;
    border: solid 1px rgb(0, 0, 0,0.5);
    border-radius: 5px;
}

.buscarusu button{
    transition: ease 0.3s all;
}
.buscarusu button:hover{
    box-shadow: 0px 0px 5px black;
}
.usuariosEncontrados{
    width: 700px;
    margin: auto;
}
.usuencontrado{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
.usuencontrado button{
    position: absolute;
    right: 3px;
}
.image{
    width: 75px;
    height: 75px;
    border: solid black 0.5px;
    background-size: cover;
    border-radius: 50%;
}
.da{
    padding-left: 10px;
}
.correode{
    color: rgb(20, 73, 220);
}



@media screen and (max-width:710px) {
    .buscarusu{
        width: 95%;
    }
    .usuariosEncontrados{
        width: 95%;
    }
}